@font-face { font-family: AkzidGroProBol; src: url('../fonts/AkzidGroProBol.otf'); } 

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
[hidden] { display: none; }

body,form,fieldset,legend,object,img,iframe,
table,td,th,ul,li,ol,h1,h2,h3,h4,h5,h6,p,blockquote,
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
}
html {
	height:100%;
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
img {
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
td,th {
	vertical-align:top;
}
ul,ol {
	list-style:none;
}
.clear-left {
	height:0;
	clear:left;
}
body {
	line-height:1;
	height:100%;
	background: #FFF;
	color:#333;
	font-size:18px;
	font-family:Helvetica,Arial,sans-serif;
}
p {
	line-height:1.8em;
	margin-bottom:1em;
}
a {
	color:#c8723b;
	text-decoration:none;
}
h1 {
	font-size:58px;
    letter-spacing:-2px;
}
h2 {
	font-size:24px;
	letter-spacing:-1px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.float-left { float: left; }
.float-right { float: right; }

.main-wrap {
	font-size: 14px;
	color: #333;
	background-color: white;
	width: 800px;
	margin: 0 auto;
	margin-top: 100px;
}
.main-wrap .left {
	float: left;
	width: 400px;
}
.main-wrap .right {
	float: right;
}
.main-wrap .left .logo {
	background: url('../images/newcity@2x.png') no-repeat;
	background-size: 245px 70px;
	min-height: 70px;
	min-width: 245px;
}
.main-wrap .left .text {
	font-size: 14px;
margin: 20px 0 20px 0;
line-height: 2em;
}
.main-wrap a.open {
	color: #10c4b2;
	text-decoration: none;
}
.main-wrap a.download {
	background: url('../images/download@2x.png') no-repeat;
	background-size: 205px 31px;
	display: block;
	min-height: 31px;
	min-width: 205px;
	margin: 30px 0 0 77px;

}

.ipad { 
	background: url('../images/ipad@2x.png') no-repeat; 
	background-size: 368px 284px;

	min-height: 284px;
	min-width: 368px;
}

.footer {
	font-size: 11px;
	margin: 40px 0 40px 0;
	color: #333;
}

.footer a {
	color: #333;
	text-decoration: none;
}


.main-wrap .intro-logo {
	background: url('../images/newcity@2x.png') no-repeat;
	background-size: 245px 70px;
	min-height: 70px;
	min-width: 245px;
	margin-bottom: 40px;
}
.home .main-wrap {
	font-size: 14px;
	color: #333;
	background-color: white;
	width: 800px;
	margin: 0 auto !important;
	padding: 50px 20px 200px 20px !important;

}
.nav { color: #666; font-size: 24px; }
.nav a { color: #888; font-size: 24px; text-decoration: none; }
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #333;
  -webkit-box-shadow: 3px 3px 5px 6px #333;
  box-shadow:         3px 3px 5px 6px #333;
}
h3 a {
	color: #10c4b2;
}
.bullets {
	list-style: disc;
}
.bullets li {
	margin: 20px;
}
.home-title {
	margin-bottom: 30px;
}